/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Nav*/
nav {
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/

	/*short-hand property*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between an element's border and it's content*/

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*short-hand property*/
	display: inline;
	/*changes elements to inline elements*/
}

/*intro section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*short-hand*/
	/*padding 2rem 10% 3rem*/
}

.header {
	text-align: center;
	/*best used when horizontally aligning text instead of using margins and padding*/
}

#intro h2, #intro p {
	margin-bottom: 1rem;
	/*this creates space between contents of the intro section*/
	}

#intro button {
	font-weight: bold; /*this changes the thickness of our weigth*/
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-size: 1rem;
	padding: 1rem; /*creates space between the button and the border*/
}

/*succeed info section*/
/*exact same properties as the intro section but can have it's own CSS rules for flexibility*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem; /*this creates a space between the header and the card section*/
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer*/
footer {
	padding: 0.7rem; 
	/*creates space between span tags and the footer border*/
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}